# Các file rác của Keil C
Objects/
Listings/
*.uvgui.*
*.uvoptx
*.uv2
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep

# Các file rác của STM32/VS Code
Debug/
Release/
.vscode/
*.o
*.d
*.crf
*.elf
*.map
*.hex
*.bin
# Loại bỏ thư viện Arduino cồng kềnh
Arduino/libraries/

# Loại bỏ rác Keil C
*.o
*.d
*.crf
*.lnp
*.axf
Objects/
Listings/
# Các file rác của Altium (nếu có)
History/
__Preview/
Project\ Logs*/